<div class="container-fluid d-flex justify-content-center  h-75 w-50
  mt-5 bg-white rounded">
    <div class="row ">
        <div class="col-12">
            <div class="my-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" >
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-success">Entrar</button>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <div class="">
                    <a routerLink="forgot-password" class="btn btn-primary btn-md mb-2" role="button" aria-disabled="true">
                        Esqueceu Senha
                    </a>
                    <br>
                    <div class="d-flex justify-content-center">
                        <a routerLink="sign" class="btn btn-secondary btn-md " role="button" aria-disabled="true">
                            Cadastre-se
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
